option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NEXT_PUBLIC_SUPABASE_URL: https://wivmthxpusoufivahijg.supabase.co
    NEXT_PUBLIC_SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indpdm10aHhwdXNvdWZpdmFoaWpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDgzNTc3ODcsImV4cCI6MjAyMzkzMzc4N30.pHJfbMwl6u8p9JpJ6mNJOQXVVtZTu4XN-vDFnGXZW6w 