# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/Data Analysis Scratch
.Rhistory
*.Rmd
db_backups/20250224_152028/full_backup.dump
db_backups/20250224_152028/schema_backup.sql
IN495734_SCD_Labs_Baseline.txt
labs_clean.csv
Labs_Lam_20241004.csv
*.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/Junk
*.tar

# Large data files
scd_research_refactored_20250513.dump
etl/Baseline Data Jan2011-Jun2024/IN495734_SCD_IP_Meds_Baseline.txt
etl/backups/dump-scd_research_secure-202504081600.sql
local_data.dump
